.gradle/
gradle
gradlew
gradlew.bat
build/
.idea/
*.iml
*.log
**/.gitkeep
.DS_Store
Thumbs.db
.gradle-user-home/
logs
**/build/
*/build/
**/node_modules/
*/node_modules/
.project
.settings/
**/*.log
**/*.log.*
**/*.py
**/*.ps1
.preferences
**/bin/
.codeartsdoer
.jlsp
.junie
.arts/
.vscode/
.**/
